.btn {
  cursor: pointer;
  font-weight: 800;
  padding: 10px 30px;
  position: relative;
  margin-top: 50px;
  text-transform: uppercase;
  transition: 0.4s;

  &--primary {
    border: 2px solid black;
  }
  &--secondary {
    border: 0;
    background: $base-orange;
    color: #fff;
  }

  &:after {
    width: 0;
    height: 2px;
    position: absolute;
    background: #656464;
    bottom: 0;
    left: 0;
    transition: 0.4s;
  }
  &:hover, &:focus {
    background: #000;
    color:#fff;
    &:after {
      width: 100%;
    }
  }
}
