@import "../../resources/assets/scss/helpers/variables";
@import "../../resources/assets/scss/helpers/breakpoints";
.category-page {

  &__posts{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
  }

  &__header {
    padding: 20px 0;
  }
  &__title {
    font-size: 30px;
    text-transform: capitalize;
    border-bottom: 4px solid $base-orange;
    display: inline-block;
  }
}
