//@import "../../resources/assets/scss/helpers/variables";
//@import "../../resources/assets/scss/helpers/breakpoints";
.header {
  width: 100vw;
  height: 60px;
  background-color: #ffffff;
  font-size: 16px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  @include desktop {
    height: 70px;
  }

  &--is-open{
    background-color: $base-orange;
  }
}

.header__search {
  font-size: 20px;
  i {
    color: $dark-grey;
    &:hover {
      color: $base-orange;
    }
  }

}

.header__content {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
  height: 100%;
  @media only screen and (max-width: 1050px) {
    width: 100%;
    justify-content: center;
  }
  @media only screen and (max-width: 475px) {
    justify-content: space-between;
    padding: 0 20px;
  }
}
.header__right {
  align-items: center;
  display: none;

  @include desktop {
    display: block;
  }
}
.header__nav {
  display: none;
  height: 100%;
  @include desktop {
    display: flex;
  }
}

.header__logo {
  width: 60px;
  box-sizing: content-box;
  margin: 0 20px;
  @include desktop {
    margin: 0 12px 0 20px;
  }
}


.navigation {
  padding: 0;
  margin: 0 20px 0 0;
  text-decoration: none;
  list-style: none;
  display: none;
  color: $dark-grey;
  max-width: $max-page-width;


  @include desktop {
    display: flex;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 12px;
    border-bottom: 4px solid transparent;

    &--is-active {
      color: $base-orange;
      border-bottom: 4px solid $base-orange;
    }
    a, button {
      color: $dark-grey;
      background-color: transparent;
      font-size: 16px;
      text-transform: capitalize;
      font-weight: bold;
      border: 0;

    }
  }

}



.header__nav--secondary {
  position: absolute;
  width: 100%;
  left: 0;
  top: 70px;
  display: none;
  background: $paragraph-text;
  border-bottom: 4px solid $base-orange;
  padding: 20px;
  a {
    color: #fff;
  }
  &--is-active {
    display: flex;
  }
  .navigation {
    margin: auto;
    width: $max-page-width;
  }
}

.burger-menu {
  display: block;
  @include desktop {
    display: none;
  }
  width: 23px;
  height: 16px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: $dark-grey;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    &:nth-child(1) {
      top: 0;
    }
    &:nth-child(2) {
      top: 6px;
    }
    &:nth-child(3) {
      top: 6px;
    }
    &:nth-child(4) {
      top: 12px;
    }
  }


  &--is-open {
    span {
      background-color: white;
    }
    span:nth-child(1) {
      width: 0;
      left: 50%;
    }
    span:nth-child(2) {
      transform: rotate(45deg)
    }
    span:nth-child(3) {
      transform: rotate(-45deg)
    }
    span:nth-child(4) {
      width: 0;
      left: 50%;
    }
  }
}
