.search-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($base-orange, 0.9);
  z-index: 3;
  overflow-y: auto;
  padding-bottom: 40px;
  flex-direction: column;
}

.search-overlay__content {
  max-width: 1024px;
  padding: 20px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 680px) {
    width: 100%;
  }
}

.search-overlay__results {
  width: 100%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
}

.search-overlay__form {
  display: flex;
  width: 100%;
  .icon-button {
    font-size: 30px;
    color: #fff;
  }
}

.search-overlay__input {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 8px solid #ffffff;
  padding: 5px 0;
  outline: none;
  color: #ffffff;
  font-size: 16px;
  @include desktop {
    font-size: 30px;
  }
  &::placeholder {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.8;
    @include desktop {
      font-size: 30px;
    }

  }
}

.search-overlay__header {
  text-align: right;
}
.search-overlay__close {
  right: 0;
  margin-right: 40px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 40px;
  cursor: pointer;
  color: #ffffff;
}
