$base-orange: #F46025;
$title-font: 'Montserrat';
$body-font: 'Source Sans Pro';


$paragraph-text: #333333;
$light-grey: #efefef;
$lighter-grey: #f1f3f5;
$dark-grey: #666666;
$max-page-width: 1200px;
$min-page-width: 1000px;
$header-height: 60px;

$large-desktop-min-width: 1440px;
$desktop-min-width: 1200px;
$medium-device-width: 992px;
$small-device-width: 768px;


/*Slider Vars*/
$small-device-height: 370px;
$medium-device-height: 460px;
$large-device-height: 600px;
