$base-orange: #ffa019;

$paragraph-text: #333333;
$light-grey: #efefef;
$lighter-grey: #f1f3f5;
$dark-grey: #666666;
$max-page-width: 1200px;
$header-height: 60px;

$desktop-min-width: 768px;
$small-device-width: 401px;

