.input {

  &--primary {
    display: block;
    box-shadow: none;
    border: 2px solid $paragraph-text;
    margin-bottom: 10px;
    padding: 8px;
    width: 100%;
  }
}
.checkbox {
  border: 1px solid;
  margin-right: 8px;
}

.input-label {
  font-size: small;
  color: $dark-grey;

}

fieldset {
  border: 0;
}
