.page {
  margin-top: 40px;
}
.page__container, .container {
  background: #fff;
  margin: auto;
  padding: 0 20px;
  max-width: $min-page-width;
  @include medium {
    padding: 0 15px;
  }
  @include large_desktop {
    max-width: $max-page-width;

  }
}
