@import "resources/assets/scss/helpers/variables";
@import "resources/assets/scss/helpers/breakpoints";
.app {
  margin: $header-height auto auto;
  overflow: hidden;
  @include desktop {
    margin-top: $header-height;
  }

  &--menu-open {
    overflow: hidden;
  }
}
