@import "resources/assets/scss/helpers/variables";
@import "resources/assets/scss/helpers/breakpoints";
.app {
  margin: 60px auto auto;
  overflow: hidden;
  @include desktop {
  margin-top: 70px;
}

  &--menu-open {
    height: 80vh;
    overflow: auto;
  }
}
